In [5]:
import pandas as pd
staty = pd.read_json("staty.json")
staty.set_index("name", inplace=True)
#staty[["population", "area"]]
staty["density"] = staty["population"] / staty["area"]
staty = staty.sort_values("density", ascending=False)
staty.head(20)

,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini,density
name,,,,,,,,,
Macao,MO,MAC,,Asia,Eastern Asia,649100,30.00,NaN,21636.666667
Monaco,MC,MCO,Monaco,Europe,Western Europe,38400,2.02,NaN,19009.900990
Singapore,SG,SGP,Singapore,Asia,South-Eastern Asia,5535000,710.00,48.1,7795.774648
Hong Kong,HK,HKG,City of Victoria,Asia,Eastern Asia,7324300,1104.00,53.3,6634.329710
Gibraltar,GI,GIB,Gibraltar,Europe,Southern Europe,33140,6.00,NaN,5523.333333
Bahrain,BH,BHR,Manama,Asia,Western Asia,1404900,765.00,NaN,1836.470588
Malta,MT,MLT,Valletta,Europe,Southern Europe,425384,316.00,NaN,1346.151899
Bermuda,BM,BMU,Hamilton,Americas,Northern America,61954,54.00,NaN,1147.296296
Maldives,MV,MDV,Mal√©,Asia,Southern Asia,344023,300.00,37.4,1146.743333
Sint Maarten (Dutch part),SX,SXM,Philipsburg,Americas,Caribbean,38247,34.00,NaN,1124.911765
Bangladesh,BD,BGD,Dhaka,Asia,Southern Asia,161006790,147570.00,32.1,1091.053669
Holy See,VA,VAT,Rome,Europe,Southern Europe,451,0.44,NaN,1025.000000
Jersey,JE,JEY,Saint Helier,Europe,Northern Europe,100800,116.00,NaN,868.965517
Guernsey,GG,GGY,St. Peter Port,Europe,Northern Europe,62999,78.00,NaN,807.679487
Saint Martin (French part),MF,MAF,Marigot,Americas,Caribbean,36979,53.00,NaN,697.716981
Barbados,BB,BRB,Bridgetown,Americas,Caribbean,285000,430.00,NaN,662.790698
Taiwan,TW,TWN,Taipei,Asia,Eastern Asia,23503349,36193.00,NaN,649.389357
Mauritius,MU,MUS,Port Louis,Africa,Eastern Africa,1262879,2040.00,NaN,619.058333
Aruba,AW,ABW,Oranjestad,Americas,Caribbean,107394,180.00,NaN,596.633333
Lebanon,LB,LBN,Beirut,Asia,Western Asia,5988000,10452.00,NaN,572.904707